.navbar{
    padding-bottom: 320px;
    background-color: black;
}
.navbar-brand{
    color:white;
}
.navbar-brand:hover{
    color: white;
}

.navbar-nav a{
    color: white;
}

.navbar-nav a:hover{
    color: white;
}